# Terraform
terraform/.terraform/
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
*.tfplan

# Ansible
ansible/*.retry
ansible/inventory/hosts_local.ini
ansible/inventory/group_vars/all/vault.yml

# Secrets / env
*.env
.env*
secrets/
