---
# Reset K3s cluster (removes K3s but keeps VMs)

- name: Reset K3s cluster
  hosts: k3s_cluster
  become: true
  tasks:
    - name: Run k3s-uninstall script (workers)
      command: /usr/local/bin/k3s-agent-uninstall.sh
      when: k3s_role == 'worker'
      ignore_errors: true

    - name: Run k3s-uninstall script (master)
      command: /usr/local/bin/k3s-uninstall.sh
      when: k3s_role == 'master'
      ignore_errors: true

    - name: Remove k3s data directories
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/rancher
        - /var/lib/rancher
        - /var/lib/kubelet
        - /var/lib/cni

    - name: Remove k3s binaries
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /usr/local/bin/k3s
        - /usr/local/bin/kubectl
        - /usr/local/bin/crictl
        - /usr/local/bin/ctr

    - name: Display reset confirmation
      debug:
        msg:
          - "K3s has been removed from {{ inventory_hostname }}"
          - "VMs are still running"
          - "Run 'make provision' to reinstall K3s"
