---
# K3s installation only (without base setup)

- name: Install K3s prerequisites
  hosts: k3s_cluster
  become: true
  roles:
    - k3s-prereqs

- name: Setup K3s master
  hosts: masters
  become: true
  roles:
    - k3s-master

- name: Setup K3s workers
  hosts: workers
  become: true
  roles:
    - k3s-worker
